<mat-tab-group class="container mt-3">

  <mat-tab label="User profile">
    <section class="container  py-3">
      <form [formGroup]="userProfileForm" (ngSubmit)="onSubmitProfile()" class="user-profile-container">

        <mat-form-field class="form-group mx-auto">
          <input matInput style="color: white" [value]="user.username" [readonly]="true" placeholder="Username">
        </mat-form-field>

        <mat-form-field class="form-group mx-auto">
          <input matInput style="color: white" [value]="user.email" type="text" [readonly]="true" placeholder="E-mail">
        </mat-form-field>

        <mat-form-field class="form-group mx-auto">
          <input matInput formControlName="first_name" style="color: white" [(ngModel)]="user.first_name" placeholder="First name">
          <mat-error *ngIf="userProfileForm.controls.first_name.errors && (userProfileForm.controls.first_name.dirty || userProfileForm.controls.first_name.touched)">
            <mat-error *ngIf="userProfileForm.controls.first_name.errors.required">
              * First name is a required
            </mat-error>
            <mat-error *ngIf="userProfileForm.controls.first_name.errors.maxlength">
              * First name requires maximum 50 symbols
            </mat-error>
            <mat-error *ngIf="userProfileForm.controls.first_name.errors.pattern">
              * First name must consists of uppercase and lowercase Latin letters
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group mx-auto">
          <input matInput formControlName="last_name" style="color: white" [(ngModel)]="user.last_name" placeholder="Last name">
          <mat-error *ngIf="userProfileForm.controls.last_name.errors && (userProfileForm.controls.last_name.dirty || userProfileForm.controls.last_name.touched)">
            <mat-error *ngIf="userProfileForm.controls.last_name.errors.required">
              * Last name is a required
            </mat-error>
            <mat-error *ngIf="userProfileForm.controls.last_name.errors.maxlength">
              * Last name requires maximum 50 symbols
            </mat-error>
            <mat-error *ngIf="userProfileForm.controls.last_name.errors.pattern">
              * First name must consists of uppercase and lowercase Latin letters
            </mat-error>
          </mat-error>
        </mat-form-field>

        <div style="width: 60%" class='mx-auto'>
          <button mat-raised-button color="accent" [disabled]="userProfileForm.invalid" class="p-2 w-100">Save</button>
        </div>
      </form>
    </section>

  </mat-tab>
 
  <mat-tab label="Password changing">
    <section class="container  py-3">
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="user-profile-container">

        <mat-form-field class="form-group mx-auto">
          <input matInput formControlName="old_password" style="color: white" type="text" type="password" placeholder="Old password">
          <mat-error *ngIf="changePasswordForm.controls.old_password.errors && (changePasswordForm.controls.old_password.dirty || changePasswordForm.controls.old_password.touched)">
            <mat-error *ngIf="changePasswordForm.controls.old_password.errors.required" class="error-message">
              * Password is a required
            </mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group mx-auto">
          <input matInput formControlName="new_password" style="color: white" type="text" type="password" placeholder="New password">
          <mat-error *ngIf="changePasswordForm.controls.new_password.errors && (changePasswordForm.controls.new_password.dirty || changePasswordForm.controls.new_password.touched)">
            <mat-error *ngIf="changePasswordForm.controls.new_password.errors.required">
              * Password is a required
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls.new_password.errors.minlength">
              * Password must be a minimum of 8 characters
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls.new_password.errors.pattern">
              * Password must have uppercase and lowercase Latin letters, digit and character
            </mat-error>
            <mat-error *ngIf="changePasswordForm.controls.new_password.errors.maxlength">
              * Password requires maximum 40 symbols
            </mat-error>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="form-group mx-auto">
          <input matInput formControlName="password_second" style="color: white" type="text" type="password" placeholder="Confirm password">
          <mat-error *ngIf="changePasswordForm.controls.password_second.errors && (changePasswordForm.controls.password_second.dirty || changePasswordForm.controls.password_second.touched)">
            <mat-error *ngIf="changePasswordForm.controls.password_second.errors.required" class="error-message">
              * Password confirming is a required
            </mat-error>
          </mat-error>
          <mat-error *ngIf="changePasswordForm.controls.password_second.errors?.mustMatch" class="error-message">
            * Passwords doesn't match
          </mat-error>
        </mat-form-field>

        <div style="width: 60%" class='mx-auto'>
          <button mat-raised-button color="accent" [disabled]="changePasswordForm.invalid" class="p-2 w-100">Save</button>
        </div>
      </form>
    </section>

  </mat-tab>

  <mat-tab label="Email changing">
    <section class="container  py-3">
      <form [formGroup]="changeEmailForm" (ngSubmit)="changeEmail()" class="user-profile-container">

        <mat-form-field class="form-group mx-auto">
          <input matInput formControlName="new_email" style="color: white" type="text" placeholder="Enter your new e-mail">
          <mat-error *ngIf="changeEmailForm.controls.new_email.errors && (changeEmailForm.controls.new_email.dirty || changeEmailForm.controls.new_email.touched)">
            <mat-error *ngIf="changeEmailForm.controls.new_email.errors.pattern">
              * Email is <strong>required</strong>
            </mat-error>
          </mat-error>
        </mat-form-field>

        <div style="width: 60%" class='mx-auto'>
          <button mat-raised-button color="accent" [disabled]="changeEmailForm.invalid" class="p-2 w-100">Save</button>
        </div>
      </form>
    </section>
  </mat-tab>

  <mat-tab label="Subscriptions">
    <ng-template mat-tab-label>
      <span (click)="getSubscriptions()">Subscriptions</span>
    </ng-template>
    <ng-template matTabContent>
      <section class="container  py-3">
        <h3 style="color: white;">Subscriptions details</h3>
        <table mat-table [dataSource]="subscriptionsData" class="w-100 mb-3" matSort matSortActive="subscription_end" matSortDisableClear matSortDirection="desc">
        
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Subscription ID</th>
            <td mat-cell *matCellDef="let row"
              [ngClass]="{highlight: row.status == 'success' && isCurrentSubscription(row)}">{{row.id}}</td>
          </ng-container>
  
          <ng-container matColumnDef="subscription_start">
            <th mat-header-cell *matHeaderCellDef>Date started</th>
            <td mat-cell *matCellDef="let row"
              [ngClass]="{highlight: row.status == 'success' && isCurrentSubscription(row)}">{{row.subscription_start | date}}</td>
          </ng-container>
  
          <ng-container matColumnDef="subscription_end">
            <th mat-header-cell *matHeaderCellDef>End date</th>
            <td mat-cell *matCellDef="let row"
              [ngClass]="{highlight: row.status == 'success' && isCurrentSubscription(row)}">{{row.subscription_end | date}}</td>
          </ng-container>
  
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let row"
              [ngClass]="{highlight: row.status == 'success' && isCurrentSubscription(row)}">{{row.amount}}</td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row"
              [ngClass]="{highlight: row.status == 'success' && isCurrentSubscription(row)}">{{row.status}}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <h3 style="color: white;">Pay for subscription</h3>
        <button class="btn" (click)="openDialog()">Continue to checkout</button>
      </section>
    </ng-template>
  </mat-tab>
</mat-tab-group>